<div class="index-main">
    <span>אני רוצה לפרסם מודעה בלוח...</span>
    <div class="cards-container">
        <a routerLink="/publish/nadlan" style="all: unset">
            <div class="category-card">
                <div class="category-icon">
                    <img src="nadlan.svg" alt="נדל״ן" class="icon-default" />
                    <img src="nadlan_active.svg" alt="נדל״ן" class="icon-active" />
                </div>
                <h3 class="category-title">נדל"ן</h3>
                <p class="category-subtitle">מכירה, השכרה, מסחרי</p>
                <button class="category-button">מתחילים</button>
            </div>
        </a>
        <a routerLink="/publish/vehicle" style="all: unset">
            <div class="category-card">
                <div class="category-icon">
                    <img src="vehicle.svg" alt="רכב" class="icon-default" />
                    <img src="vehicle_active.svg" alt="רכב" class="icon-active" />
                </div>
                <h3 class="category-title">כלי רכב</h3>
                <p class="category-subtitle">כלי רכב, דו גלגלי, כלי שיט, מיוחדים
                </p>
                <button class="category-button">מתחילים</button>
            </div>
        </a>
        <div class="category-card special-card">
            <div class="category-icon">
                <img src="second_hand.svg" alt="יד שנייה" class="icon-default" />
                <img src="second_hand_active.svg" alt="יד שנייה" class="icon-active" />
            </div>
            <h3 class="category-title">יד שניה</h3>
            <p class="category-subtitle">לבית לגינה ולמשרד, חשמל, ספורט<br> פנאי ושונות</p>
            <button class="category-button">מתחילים</button>
        </div>
    </div>

</div>