.item-info {
    direction: rtl;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.item-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 280px;
    height: 150px;
}

.product-item {
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0),
        /* subtle small shadow */
        0px 1px 2px rgba(0, 0, 0, 0.1);
    /* slightly larger softer shadow */
    margin-bottom: 2px;
    margin-right: 14px;
    border-radius: 8px;
}

.info1 {
    font-weight: bold;
    opacity: 0.87;
}

.info2,
.info3 {
    font-size: 15px;
    opacity: 0.7;
}