<div>
    <!-- <img src="\bubbles-category\leading-category-yad1.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-real-estate.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-vehicles.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-second-hand.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-drushim-new.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-professional.webp" height="100" alt="Gal2 Logo" />
    <img src="\bubbles-category\leading-category-business.webp" height="100" alt="Gal2 Logo" /> -->
    <img [src]="products[3].image" />
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
        <ng-template pTemplate="header">
            <h2>Fruit Carousel</h2>
        </ng-template>

        <ng-template pTemplate="item" let-product>
            <div class="product-item">
                <img [src]="product.image" [alt]="product.name" />
                <div class="product-name">{{ product.name }}</div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <small>Use arrows or swipe to navigate</small>
        </ng-template>
    </p-carousel>

</div>